body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    margin-top: 20px;
    color: #333;
}

.magic-ball {
    width: 300px;
    height: 300px;
    background-image: url('magic-ball.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center;    /* Вертикальне вирівнювання */
    text-align: center;
}

.answer {
    font-size: 1.5em;
    color: #3a2e2e;
    width: 80%;
    font-weight: bold;
    padding: 10px;
    transform: translateY(-65%);
}
